* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: red;
}

.firstBox {
  height: 100%;
  width: 50%;
  border: 2px solid black;
}

.secondBox {
  height: 100%;
  width: 50%;
  border: 2px solid black;
}
