* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formContainer {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 12px;
  background-color: blueviolet;
}
form > label,
input,
button {
  width: 80%;
  border-radius: 6px;
  color: #fff;
  /* background-color: blue; */
}

form > input {
  padding: 10px;
  border: 1px solid gainsboro;
  outline: none;
  box-shadow: 2px 5px 2px rgba(220, 220, 220, 0.209);
}
form > button {
  padding: 10px;
  outline: none;
  box-shadow: 2px 2px 2px rgb(179, 96, 221);
  border: none;
  background-color: blueviolet;
  border: 2px solid rgb(62, 0, 143);
}
