* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  height: 600px;
  width: 500px;
  /* background-color: red; */
  border: 2px solid black;
}

.form > form {
  height: 100%;
  width: 100%;
  /* background-color: green; */
}

form > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 0;
  text-align: center;
}

.formdata {
  height: 20%;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.formElem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.formElem > input {
  padding: 10px;
  width: 70%;
  border-radius: 6px;
  border: 2px solid #111;
  background-color: rgba(244, 160, 120, 1);
}

.formElem > button {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #111;
  border-radius: 6px;
}

form .myWeatherDetails {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
  background-color: rgb(216, 131, 131);
}

.weatherDetails {
  height: 55px;
  width: 100%;
  background-color: rgb(239, 239, 239);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.detail {
  height: 80%;
  background-color: lightblue;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.weatherDetails > div {
  height: 100%;
  width: 10%;
  background-color: green;
  border-radius: 100%;
}
.cityTemp h3 {
  font-size: 25px;
  color: red;
}
