* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.form-container {
  height: 350px;
  width: 300px;
  border: solid;
  border-radius: 5px;
  background-color: aliceblue;
  margin-top: 250px;
}
form h1 {
  margin-top: 5px;
  text-align: center;
}

label {
  display: flex;
  margin: 10px;
  padding: 8px;
}
input {
  margin: 13px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  padding: 7px;
}
button {
  display: flex;
  margin-left: 13px;
  width: 60px;
  padding: 5px;
  border-radius: 5px;
}
button:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
.password{
  background-color:aliceblue;
  border: none;
  padding-bottom: 39px;
  
}
.showpass{
  background-color: aliceblue;
  border: none;
}
.pass{
  height: 40px;
  width: 270px;
  margin-left: 13px;
  border: 2px solid;
  border-radius: 5px;
  background-color: aliceblue;
  display: flex;
  padding-bottom: 30px;
  padding-right:20px ;
}

.last{
  margin-top: 20px;
}
