@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Share+Tech&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #efefee;
}
.logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Share Tech", sans-serif;
  /* font-weight: 700; */
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  /* letter-spacing: 0.2rem; */
  background-color: blueviolet;
}
.navlist {
  height: 100%;
  width: 40%;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navlist > li {
  list-style: none;
}

.navlist > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

/*! Home Page  */
.homePage {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid blue;
  background-color: #fff;
}
.homePage > .leftBox,
.rightBox {
  width: 40%;
  height: 80%;
  border: 2px solid navy;
}

/*! About section starts here  */
.about {
  height: 100vh;
  width: 100%;
  border: 2px solid coral;
}
